[submodule "polperro"]
	path = polperro
	url = git@github.com:keithy/polperro.git
[submodule "harbour-master"]
	path = the-github-taverns
	url = git@github.com:keithy/the-github-taverns.git
[submodule "mylor"]
	path = mylor
	url = https://github.com/keithy/mylor
[submodule "bash-spec-2"]
	path = cove-specs/bash-spec-2
	url = https://github.com/keithy/bash-spec-2
